.favContainer{
    margin-top: 80px;
    margin-bottom: 20%;
    background-color: rgba(201, 201, 201, 0.281);
    min-height: 100vh;
}

.productHeader{    
    width: 100%;
    background-color: var(--var-bg); 
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.productHeader h2{
    color: var(--var-white);
    text-align: left;
    padding: 8px 0 8px 10px; /*mobile*/
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
 }

.backButton{
    color: #FFFF;
    padding-right: 20px; /*mobile*/
    font-size: 24px; /*mobile*/
   }

   .favTitle{
    font-size: 20px;
    margin-top: 2%;
}

.noFav h3{
    margin-top: 2%;
    padding: 3%;
}

.noFav .noFavIcon{
    color: red;
    padding-right: 2%;
}

.noFav button{
    background-color: #1DBEB4;
      color: #FFFFFF;
      padding: 10px 30px;
      border-radius: 5px;
      width: 80%;
      border: 3px solid #1DBEB4;
      font-weight: 700;
      font-size: 18px;
      line-height: 19px;
      cursor: pointer;
      margin: 5px 5px;
}

.containerCard{
    padding-bottom: 20px;
}


@media(min-width: 460px){

    .favContainer{
        margin-bottom: 3%;
    }
    .productHeader{
        height: 52px;
        font-size: 20px;
    }

    .favTitle{
        font-size:24px ;
        margin-top: 1%;
    }

    .noFav h3{
        font-size:24px ;

    }

    .noFav button{
        width: 40%;
    }

  

}

@media(min-width: 861px){
   /* .booksTitle{
        margin-top: 0.5%;
    }

    .noBook h3{
        margin-top: 0.5%;
    }

    .noBook button{
        width: 25%;
    }*/

    .noFav h3{
        margin-top: 0.5%;
    }

    .noFav button{
        width: 25%;
    }
}

